<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848518768196-llh6n1mjufoua8gv47r1nf0ffqr92i2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848518768196-llh6n1mjufoua8gv47r1nf0ffqr92i2g</string>
	<key>API_KEY</key>
	<string>AIzaSyAvJrKMvaZBMBFvJzr4ZG3_4ElEhT2SAlg</string>
	<key>GCM_SENDER_ID</key>
	<string>848518768196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.hoolatech.xdemic</string>
	<key>PROJECT_ID</key>
	<string>xdemic-3151b</string>
	<key>STORAGE_BUCKET</key>
	<string>xdemic-3151b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848518768196:ios:cf1ac1abd949a27c99fe11</string>
	<key>DATABASE_URL</key>
	<string>https://xdemic-3151b.firebaseio.com</string>
</dict>
</plist>